body, html, #application, #application > div {
    width: 100%;
    height: 100%;
}
body {
    /* Väga viisakas oleks antud kohas teha bg-logo nii, et seda saaks transparent PNGna välja lõigata ning, et ta kataks tausta viisakamalt. Õnneks see grain ei hakka tugevalt silma. */
    background: url(../images/bg-logo.png) no-repeat fixed center, url(../images/bg.png) repeat;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}
#header{
    height: 46px;
    width: 100%;
    background-color: #343434;
    position: fixed;
    z-index: 1000;
}
#header-inner {
    margin: 0 auto;
    height: 100%;
    max-width: 1159px;
    position: relative;
}
#header-inner a.logo {
    margin: 13px 0 0 13px;
    display: inline-block;
}
#header-inner a.logo img {
}
#header-inner nav {
    width: 100%;
    height: 46px;
    position: absolute;
    top: 0;
    left: 135px;
    padding-right: 135px;
}
#header-inner nav a {
    margin: 0 14px;
    color: #fff;
    display: block;
    float: left;
    height: 100%;
    line-height: 43px;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-decoration: none;
}
#header-inner nav a .icon {
    display: block;
    height: 35px;
    width: 32px;
    margin: 7px 11px 0 0;
    background-repeat: no-repeat;
    float: left;
    position: relative;
}
#header-inner nav a .icon.icon-deals {
    background-image: url(../images/icon_deals.png);
}
#header-inner nav a .icon.icon-activities {
    background-image: url(../images/icon_activities.png);
}
#header-inner nav a .icon.icon-person {
    background-image: url(../images/icon_person.png);
}
#header-inner nav a .icon.icon-box {
    background-image: url(../images/icon_box.png);
}
#header-inner nav a .icon .badge {
    position:absolute;
    right: 0;
    top: -2px;
    background: red;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.44);
    text-shadow: 0 0 1px rgba(0,0,0,0.8);
    padding: 0 2px;
    /* Ei leidnud õiget fonti :( */
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    line-height: 15px;
}
#header-inner #profile {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 46px;
    padding-right: 20px;
    cursor: pointer;
}
#header-inner #profile img {
    padding: 7px;
    width: 46px;
    height: 46px;
    float: left;
}
#header-inner #profile .name {
    padding: 2px;
    float: left;
    font-size: 16px;
    color: #fff;
}
#header-inner #profile:after {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #888888;
    right: 5px;
    top: 20px;
    position: absolute;
}
#header-inner #profile .name .company {
    display: block;
    color: #b2b2b2;
    font-size: 11px;
    line-height: 11px;
}

#content {
    margin: 0 auto;
    padding-top: 46px;
    display: block;
    max-width: 1159px;
    height: auto;
    min-height: 100%;
    position: relative;
}
#sidebar {
    padding-top: 46px;
    width: 280px;
    height: 100%;
    display: block;
    position:absolute;
    top:0;
    left:0;
    background-color: #fff;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}
#sidebar nav a {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eeeeee/*hehehehee*/;
    padding: 11px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #000;

    background: -webkit-linear-gradient(bottom, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(bottom, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
    background: -ms-linear-gradient(bottom, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
    background: -moz-linear-gradient(bottom, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
    background: linear-gradient(to top, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
}
#sidebar nav a span.note {
    color: #666666;
    font-size: 12px;
    font-weight: normal;
}
#sidebar nav a span.note:before {
    content: '\a';
    white-space: pre;
}
/* Gradientid olid raster piltidena ning kasutasin http://gradientfinder.com/ et välja selgitada mis toimub. */
#sidebar nav a.active {
    color: #fff;
    background: -webkit-linear-gradient(top, rgb(92, 174, 229) 0%, rgb(59, 135, 205) 100%);
    background: -o-linear-gradient(top, rgb(92, 174, 229) 0%, rgb(59, 135, 205) 100%);
    background: -ms-linear-gradient(top, rgb(92, 174, 229) 0%, rgb(59, 135, 205) 100%);
    background: -moz-linear-gradient(top, rgb(92, 174, 229) 0%, rgb(59, 135, 205) 100%);
    background: linear-gradient(to bottom, rgb(92, 174, 229) 0%, rgb(59, 135, 205) 100%);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
#sidebar nav a.active span {
    color: #fff;
}

#main {
    padding: 20px 20px 20px 300px;
    width: 100%;
    height: 100%;
    display: block;
}
#main.no-sidebar {
    padding: 20px;
}
.box {
    background-color: #fff;
    box-shadow: 1px 0 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 60px;
}
.box .user-data {
    font-size: 12px;
    position: relative;
}
.box .user-data > h2 {
    position: absolute;
    top: -50px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}
.box .user-data .user-data-label {
    font-weight: bold;
}
.box table.deals-table{
    width: 100%;
    border-spacing: 0; 
    border-collapse: separate;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    position: relative;
}
.box table.deals-table caption{
    position: absolute;
    top: -50px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}
.box table.deals-table th:first-child {
    border-radius: 5px 0 0 0;
}
.box table.deals-table th:last-child {
    border-radius: 0 5px 0 0;
}
.box table.deals-table th:only-child{
    border-radius: 5px 5px 0 0;
}
.box table.deals-table th, .box table.deals-table td{
    text-align: left;
}
.box table.deals-table th {
    padding: 5px 12px;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
}
.box table.deals-table td {
    padding: 6px 12px;
    font-size: 13px;
    height: 30px;
}
.box table.deals-table tr:nth-child(even) {
    background-color: #eeeeee;
}
.box table.deals-table th:last-child, .box table.deals-table td:last-child{
    text-align: right;
}

.box table.deals-table thead tr {
    background: -webkit-linear-gradient(bottom, rgb(222, 222, 222) 0%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(bottom, rgb(222, 222, 222) 0%, rgb(255, 255, 255) 100%);
    background: -ms-linear-gradient(bottom, rgb(222, 222, 222) 0%, rgb(255, 255, 255) 100%);
    background: -moz-linear-gradient(bottom, rgb(222, 222, 222) 0%, rgb(255, 255, 255) 100%);
    background: linear-gradient(to top, rgb(222, 222, 222) 0%, rgb(255, 255, 255) 100%);
}
.box table.deals-table tbody tr td {
    border-top: 1px solid #e3e3e3;
}
.login-form label {
    float: right;
}

.cols > .col {
    display: block;
    float:left;
    min-height: 1px;
}
.cols > .col:not(:first-child) {
    padding-left: 10px;
}
.cols.cols-2 > .col.col-1 {
    width: 50%;
}
.cols.cols-4 > .col.col-3 {
    width: 75%;
}
.cols.cols-4 > .col.col-2 {
    width: 50%;
}
.cols.cols-4 > .col.col-1 {
    width: 25%;
}
.clearfix {
    clear: both;
}

@media only screen and (max-width:640px) {
    #header {
        height: 92px;
    }
    #header-inner nav {
        top: 46px;
        left: 0;
        padding-right: 0;
    }
    #header-inner nav a .text {
        display: none;
    }
    #content {
        padding-top: 92px;
    }
    #sidebar {
        padding-top: 0;
        width: 100%;
        height: auto;
        position: relative;
    }
    #main {
        padding: 20px;
    }
    .cols.cols-collapsible > .col {
        width: 100% !important;
    }
    .cols.cols-collapsible > .col:not(:first-child) {
        padding-left: 0 !important;
    }
    .box table.deals-table{
        margin-top: 10px;
    }
    .box table.deals-table caption{
        position: static;
        text-align: left;
        top: 0;
    }
}