<header id="header">
    <div id="header-inner">
        <a class="logo" href="http://www.pipedrive.com/">
            <img src="assets/images/logo_header.png" alt="Pipedrive">
        </a>
    </div>
</header>
<div id="content">
    <div id="main" class="no-sidebar">
        <div class="box">
            <form action="" method="post" class="login-form">
                <fieldset>
                    <div class="cols cols-2">
                        <div class="col col-1">
                            <label>E-mail</label>
                        </div>
                        <div class="col col-1">
                            <input type="text" name="email">
                        </div>
                    </div>
                    <div class="cols cols-2">
                        <div class="col col-1">
                            <label>Password</label>
                        </div>
                        <div class="col col-1">
                            <input type="password" name="password">
                        </div>
                    </div>
                    <div class="cols cols-2">
                        <div class="col col-1"></div>
                        <div class="col col-1">
                            <button type="submit">Log in</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>