<header id="header">
    <div id="header-inner">
        <a class="logo" href="http://www.pipedrive.com/">
            <img src="assets/images/logo_header.png" alt="Pipedrive">
        </a>
        <nav>
            <a href="#"><span class="icon icon-deals"></span><span class="text">Deals</span></a>
            <a href="#"><span class="icon icon-activities"><span class="badge">17</span></span><span class="text">Activities</span></a>
            <a href="#"><span class="icon icon-person"></span></a>
            <a href="#"><span class="icon icon-box"></span></a>
        </nav>
        <% if(user) { console.log(user); %>
        <div id="profile">
            <% if(user.get('icon_url')) { %>
            <img src="<%= user.get('icon_url') %>" alt="<%= user.get('name') %>">
            <% } %>
            <p class="name">
                <%= user.get('name') %>
                <span class="company"><%= user.get('company_name') %></span>
            </p>
        </div>
        <% } %>
    </div>
</header>
<div id="content">
    <div id="sidebar">
        <nav>
            <% persons.each(function(person) { %>
            <a href="#person/<%= person.get('id') %>" data-id="<%= person.get('id') %>">
                <%= person.get('name') %>
                <% if(person.get('org_name') && person.get('org_name') !== '') { %>
                <span class="note"><%= person.get('org_name') %></span>
                <% } %>
            </a>
            <% }); %>
        </nav>
    </div>
    <div id="main">
    </div>
</div>