<div class="col col-1 user-data">
    <h2><%= person.get('name') %></h2>
    <%
    var values = {};
    _.each(['phone','email'], function(f) {
    if(person.get(f).length > 0) {
    _.each(person.get(f), function(v) {
    if((v.primary || !(f in values)) && v.value !== '') {
    values[f] = v.value;
    }
    });
    }
    });
    //should use smarter date here but that would be going into too much detail I guess. using moment.calendar() for now
    if(person.get('add_time')) {
    values['Added'] = moment(person.get('add_time')).calendar();
    }
    if(person.get('open_deals_count')) {
    values['Open deals'] = person.get('open_deals_count');
    }
    if(person.get('next_activity_date')) {
    values['Next activity'] = moment(person.get('next_activity_date')).calendar();
    }
    if(person.get('last_activity_date')) {
    values['Last activity'] = moment(person.get('last_activity_date')).calendar();
    }
    _.each(values, function(v,k) { %>
    <div class="cols cols-4">
        <div class="col col-1 user-data-label">
            <%= k.charAt(0).toUpperCase() + k.slice(1) %>
        </div>
        <div class="col col-3">
            <%= v %>
        </div>
    </div>
    <div class="clearfix"></div>
    <% }); %>
</div>
<div class="col col-1">
    <table class="deals-table">
        <caption>Deals</caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Sum</th>
            </tr>
        </thead>
        <tbody>
            <% deals.each(function(deal) { %>
            <tr>
                <td><%= deal.get('title') %></td>
                <td><%= deal.get('formatted_value') %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>